[submodule "themes/papercss-hugo-theme"]
	path = themes/papercss-hugo-theme
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
[submodule "themes/hugo-tufte"]
	path = themes/hugo-tufte
	url = https://github.com/slashformotion/hugo-tufte.git
